body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.order-food{
    display: flex;
    margin-bottom: 50px;
}
.order-food-headings{
    font-size: 30px;
    font-family: 'Otomanopee One', sans-serif;
}
.half-part{
    width: 50%;
    padding: 30px;
    text-align: justify;
}

.order-food-image{
    width: 80%;
}
.order-food-button{
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 25px;
}
.about-me{
    display: flex;
    margin-bottom: 50px;
    background-image: url(./images/about-me-background.png);
    background-repeat: no-repeat;
}
#about-me-image{
    width: 58%;
    margin-left: 150px;
}
.about-me-header{

    font-size: 50px;
}
.contact-me-button{
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 25px;

}

.recipie-head{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.recipie-item{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.recipie-item-card img{
    width: 98%;
    margin: 0 1%;
    
}
.recipie-item-card{
    box-shadow: 10px 10px 20px gray;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 15px;
    width: 31%;
}
.visitor{
    display: flex;
    width: 88%;
    margin: 0 auto;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    margin-bottom: 80px;
    
}
.visitor-item{
    width: 29%;
    text-align: center;
    margin: 10px 40px;
}
.review{
    background-image: url(./images/review-bg.jpg);
    background-repeat: no-repeat;
    
}
.review-item{
    width: 60%;
    margin: 50px auto;
    text-align: center;
    padding: 40px 20px;
}
.review-item p{
    font-size: larger;
}
.review-item-profile img{
    height: 70px;
    border-radius: 50%;
}
.download-app{
    display: flex;
}

.download-app-item{
    width: 50%;
    margin: 0 auto;
}
.download-app-item h2{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 35px;
}
.download-app-item >a >img{
    width: 30%;
}

footer{
    background-color: black;
    color: rgb(202, 202, 202);
    text-align: center;
    height: 200px;
    
}
.footer-logo{
    padding: 30px 10px;
    font-size: 30px;
    font-weight: bolder;
}
